<ul>
	<%if user_signed_in?%>
		<li>
			<%=link_to 'Sign Out', destroy_user_session_path, method: :delete%>
		</li>	
		<li>
			<strong>Hello <%=current_user.email%>! Tu es déjà connecté!</strong>
		</li>
		

	<%else%>
		<h1>
			<%=link_to 'Sign Up', new_user_registration_path%>
		</h1>
		
	<%end%>

</ul>